@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  font-family: 'Montserrat Alternates', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 2rem 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

:where(p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

:where(button, select, input, textarea) {
  display: block;
  color: inherit;
  font-size: 1rem;
  line-height: 1.2;
  border: none;
  outline: none;
  background: none;
}

:where(button, select, input, textarea)[disabled] {
  opacity: .5;
}

:where(input, textarea, pre, code) {
  font-family: 'Source Code Pro', monospace;
}

button {
  font-family: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

textarea {
  resize: none;
  line-height: 1.4;
}

pre {
  font-size: 1rem;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
