.markdown {
  line-height: 1.618;
  font-family: 'Merriweather', serif;
}

.markdown :where(h1, h2, h3, h4, h5, h6) {
  margin: 2rem 0 1rem 0;
  color: white;
  line-height: 1.2;
  font-family: 'Montserrat Alternates', sans-serif;
}

.markdown h1 { font-size: 2.0rem; }
.markdown h2 { font-size: 1.8rem; }
.markdown h3 { font-size: 1.6rem; }
.markdown h4 { font-size: 1.4rem; }
.markdown h5 { font-size: 1.2rem; }
.markdown h6 { font-size: 1.0rem; }

.markdown h1 {
  width: fit-content;
  padding-bottom: .5rem;
  border-bottom: 2px dashed var(--bordground);
}

.markdown p {
  margin: 1rem 0;
}

.markdown hr {
  margin: 1rem 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, 5%, var(--bordground), 95%, transparent);
  border: none;
}

.markdown img:not(.emoji) {
  display: block;
  margin: 1rem auto;
  max-width: min(500px, 100%);
  max-height: 500px;
}

.markdown blockquote {
  margin: 1rem 0;
  padding: 1px 1rem;
  background-color: var(--middground);
  border-left: .5rem solid var(--bluee);
}

.markdown :where(ul, ol) {
  margin: 1rem 0;
  padding-inline-start: 2.5rem;
}

.markdown :where(ul, ol) :where(ul, ol) {
  margin: 0;
}

.markdown ul {
  list-style-type: disc !important;
}

.markdown ul > li::marker {
  color: var(--green);
}

.markdown ul ul > li::marker {
  color: var(--bluee);
}

.markdown ul ul ul > li::marker {
  color: var(--green);
}

.markdown ul ul ul ul > li::marker {
  color: var(--bluee);
}

.markdown ul ul ul ul ul > li::marker {
  color: var(--green);
}

.markdown ol {
  counter-reset: ol-list;
}

.markdown ol > li {
  counter-increment: ol-list;
  position: relative;
}

.markdown ol > li::marker {
  content: '';
}

.markdown ol > li::before {
  content: counter(ol-list);
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  font-size: .8rem;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
  border-radius: 50%;
  background-color: var(--bluee);
}

.markdown ol ol > li::before {
  background-color: var(--green);
}

.markdown ol ol ol > li::before {
  background-color: var(--bluee);
}

.markdown ol ol ol ol > li::before {
  background-color: var(--green);
}

.markdown ol ol ol ol ol > li::before {
  background-color: var(--bluee);
}

.markdown table {
  margin: 1rem auto;
  text-align: left;
  border-collapse: collapse;
}

.markdown :where(th, td) {
  padding: .5rem;
  border: 2px solid var(--bordground);
}

.markdown tr:hover {
  background-color: var(--middground);
}

.markdown a {
  color: var(--green);
  text-decoration: underline solid var(--bluee) 2px;
  text-underline-offset: 3px;
}

.markdown a:where(:hover, :focus-visible) {
  color: inherit;
  background-color: var(--bluee);
  text-decoration-skip-ink: none;
}

.markdown code {
  padding: .1rem .25rem;
  background-color: var(--middground);
  border: 1px solid var(--bordground);
}

.markdown pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--middground);
  border: 2px solid var(--bordground);
}

.markdown pre code {
  padding: 0;
  background: none;
  border: none;
}

.markdown :where(pre, table, .katex-block) {
  overflow: auto;
}

.markdown :where(pre, table, .katex-block)::-webkit-scrollbar {
  height: .5rem;
}

.markdown :where(pre, table, .katex-block)::-webkit-scrollbar-thumb {
  background-color: var(--bordground);
}

@media (min-width: 701px) {
  .markdown p {
    text-align: justify;
  }
}
