:root {
  --foreground: #ddd;
  --background: #222;
  --middground: #333;
  --bordground: #888;
  --black-gradient: linear-gradient(135deg, #333, #111);
  --green-gradient: linear-gradient(315deg, #42d392 25%, #647eff);
}
